.descLegendPanel {
	width: 200px;
	border-radius: 0px;
	max-height: 100%;
	overflow-y: auto;
}

body.has-builder-mask .descLegendPanel {
	overflow-y: visible;
}

.descLegendPanel .descLegendPanelInner {
	position: relative;
	padding: 15px;
}

.descLegendPanel .backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.8) !important;
}

.descLegendPanel .descriptions,
.descLegendPanel .legends {
	opacity: 0.99;
	font-size: 1.2em !important;
	line-height: 1.6em !important;
	font-weight: 300 !important;
	color: #444 !important;
}
	
body.layout-tab-right .descLegendPanel,
body.layout-bullet-right .descLegendPanel {
	border-radius: 0px;
}

.descLegendPanel.no-radius {
	border-radius: inherit !important;
}

.descLegendPanel .entry {
	display: none;
}

.descLegendPanel .entry.active {
	display: block;
}

/*
 * Legend
 */

.descLegendPanel .legendContainer > .content {
	margin-bottom: 0;
}

.descLegendPanel .legendWrapper {
 	display: none !important;
}

.descLegendPanel.hasDescription .legendWrapper {
	margin-top: 35px;
}

.descLegendPanel .legendWrapper.active {
 	display: block !important;
}