#btn-toggle {
	position: absolute;
	right: 20px;
	bottom: 20px;
	height: 100px;
	width: 100px;
	line-height: 100px;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 1px 2px 4px rgba(40,40,40,0.4);
	color: #444;
	text-align: center;
	z-index: 4;
}

#btn-toggle:hover, #btn-toggle.on:hover {
	background-color: rgba(105,185,210,0.8);
	color: #fff;
	cursor: pointer;
}

#btn-toggle.on {
	background-color: rgba(36,122,179,0.8);
	color: #fff;
}

.btn-text {
	display: inline-block;
	vertical-align: middle;
	padding: 0px 4px;
	font-size: 1.1em;
	text-transform: uppercase;
	line-height: normal;
	margin: 0 auto;
}

.esriSimpleSlider {
	border: 0 !important;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	background-color: rgba(255,255,255,0.8) !important;
	box-shadow: 1px 2px 4px rgba(40,40,40,0.4) !important;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
	border-bottom: 1px solid rgba(40,40,40,0.6) !important;
}

/*
 * Using a table to properly align Side Accordion Panel and Main Stage seems to be 
 * the only way to have the edit button to properly overflow the Side Panel
 */
.containerPanelInner {
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

/*
 * Accordion
 */

#accordionPanel {
	display: none;
	position: relative;
	height: 100%;
	opacity: 1.0;
	vertical-align: top;
}

body.layout-accordion:not(.isBuilderLanding) #accordionPanel {
	display: table-cell;
}

/*
 * Tab and bullet description
 */
 
#descLegendPanel {
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	display: none;
	z-index: 2;
	width: 25% !important;
	box-shadow: 0px 2px 4px rgba(40,40,40,0.2) !important;
}

body.layout-tab:not(.isBuilderLanding) #descLegendPanel,
body.layout-bullet:not(.isBuilderLanding) #descLegendPanel {
	display: block;
}

body.layout-tab:not(.isBuilderLanding) #nav-bar,
body.layout-bullet:not(.isBuilderLanding) #nav-bar {
	display: block;
}

/*
 * Tab and bullet right panel alignment
 */

body.layout-tab-right #descLegendPanel,
body.layout-bullet-right #descLegendPanel {
	left: inherit;
	right: 0;	
}

/*
 * Right layout Map attribution
 */

body.layout-tab-right:not(.mobile-view) .esriAttribution,
body.layout-bullet-right:not(.mobile-view) .esriAttribution {
	margin-top: 18px;
	float: right;
}

/*
 * Map controls legend
 */
 
body.layout-accordion .mainMediaContainer .legendContainer,
body.layout-tab .mainMediaContainer .legendContainer,
body.layout-bullet .mainMediaContainer .legendContainer {
	right: 20px;
}

/*
 * Builder mask never display in viewer
 */

.builder-mask {
	display: none;
}

/*
 * Header layout
 */

body.layout-bullet #headerDesktop.compact {
	height: 53px;
}

body.layout-bullet #headerDesktop .textArea {
	padding-top: 6px;
}

body.layout-bullet #headerDesktop .rightArea {
	padding-top: 18px;
}

body.layout-bullet #headerDesktop.hideDesktop {
	height: 6px;
	/* hide the bullet tooltip */
	z-index: 9;
}